<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore similique at iusto itaque dolor. Eos facilis esse quasi consectetur. Minus provident itaque tempora repudiandae quisquam eos ex voluptatem nihil harum.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore similique at iusto itaque dolor. Eos facilis esse quasi consectetur. Minus provident itaque tempora repudiandae quisquam eos ex voluptatem nihil harum.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore similique at iusto itaque dolor. Eos facilis esse quasi consectetur. Minus provident itaque tempora repudiandae quisquam eos ex voluptatem nihil harum.</p>
        </ul>
    </div>
</div>