    <div class="row">
        <div  class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/fotodeperfil.jfif" class="img-fluid" id="fotoDePerfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Romero Gaspar</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad doloremque possimus obcaecati nam soluta quis similique cum tempora laudantium quod ipsum sint, expedita, exercitationem laboriosam dolor eligendi. Temporibus, ipsum ratione?</p>
            </span>
        </div>
    </div>
